* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Inconsolata", monospace;
    background-image: url("../resources/images/dovile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

/* Navigation bar */
.navbar {
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 7%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.navbar li {
  display: inline;
  padding: 0 1rem;
  font-size: 1.2rem;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
}

.navbar li a:hover {
  color: #ffff00;
}

@media only screen and (max-width: 395px) {
    .navbar li {
        font-size: 0.75rem;
    }
}

/* Hero */
.hero {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  height: 35vh;
  position: absolute;
  top: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
    margin-bottom: 1.5rem;
}

.hero a {
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    margin-top: 5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
}

.hero a:hover {
    color: #ffff00;
    border: 1px solid #ffff00;
}

@media only screen and (max-width: 395px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
        text-align: justify;
        margin: 0 1rem;
        line-height: 1.3;
    }

    .hero a {
        font-size: 0.75rem;
        margin-top: 1rem;
        border: 1px solid #ffff00;
        color: #ffff00;
        font-weight: 600;
    }
}

/* Meet Us */
.meet-us {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  height: 80vh;
  position: relative;
  top: 111%;
}

.meet-us h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.meet-us_map img {
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem black
}

.meet-us p {
    margin: 1rem 0;
}

@media only screen and (max-width: 395px) {
    .meet-us {
        height: 70vh;
    }

    .meet-us h1 {
        font-size: 2rem;
    }

    .meet-us p {
        font-size: 1rem;
    }
    
    .meet-us_map img {
        width: 75%;
    }
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 0.75rem;
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

footer p {
    padding: 0 1rem;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #ffff00;
}

@media only screen and (max-width: 395px) {
    footer {
        height: 10%;
    }

    footer p {
        font-size: 0.6rem;
    }

    footer a {
        color: #ffff00;
    }
}
